<!DOCTYPE html>
<html>
  <head>
    <title>Admin User Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <h1>Approve New Users</h1><br />

    <% if settings.mongo_db["users"].find( :approved => nil ).count() === 0 %>

      <p class="lead">Doesn't look like there are any new users to approve.</p>
      <a href="/" class="btn btn-default">Home</a>

    <% else %>

      <% settings.mongo_db["users"].find( :approved => nil ).each do |record| %>
        <div class="row">
          <div class="col-lg-4">
            <h4><%= record["username"] %></h4>
            <p><%= record["first_name"] %> <%= record["last_name"] %></p>
            <p><%= record["email"] %></p>
          </div>

          <div class="col-lg-3">
            <h3>Approve User?</h3>
            <form method="post" action="/admin_approve">
              <input type="hidden" name="username" value="<%= record["username"] %>">
              <input type="hidden" name="approved" value="true">
              <button class="btn btn-success">Approve</button>
            </form>
          </div>
        </div>
      <% end %>
    <% end %>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>



