<!DOCTYPE html>
<html>
  <head>
    <% record = @database.find_one(:_id => @id) %>
    <title>Edit Entry | <%= record['hospital'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>


    <div class="container">
      <h1><small>Edit Entry</small></h1>

      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><%= record["hospital"] %> <br class="visible-sm" /> <small>Entered by <%= record['name'] %> at <%= record['entrytime'] %></small></h3>
        </div>

        <form method="post" action="/edit/<%= record['_id'] %>">
          <div class="form-group"><div class="row"><div class="col-6">
            <label for="hospital">Hospital Name</label>
            <input type="text" class="form-control" value="<%= record['hospital'] %>" name="hospital"><br />

            <label>Address</label>
            <input type="text" class="form-control" value="<%= record['address'] %>" placeholder="Street Address" name="address"><br />
            <input class="form-control" type="text" value="<%= record['city'] %>" name="city" placeholder="city"><br />
            <div class="row">
                <div class="col-lg-5 col-sm-12"><input class="form-control" type="text" value="<%= record['state'] %>" name="state" placeholder="state" maxlength="2"></div><br class="visible-sm" />
                <div class="col-lg-7 col-sm-12"><input class="form-control" type="text" value="<%= record['zip'] %>" name="zip" placeholder="ZIP" maxlength="5"></div>
            </div>
          </div>

          <div class="col-6">
            <label for="name">Technician Name</label>
            <input type="text" class="form-control" name="name" value="<%= record["name"] %>"><br />
            <label>Reported Number of Units</label>
            <input type="text" name="repunits" maxlength="3" class="form-control input-small" value="<%= record['repunits'] %>"></br >
            <label>Actual Number of Units</label>
            <input type="text" name="actunits" maxlength="3" class="form-control input-small" value="<%= record['actunits'] %>"></br >
            <label>Failed Units</label>
            <input type="text" name="funits" maxlength="3" class="form-control input-small" value="<%= record['funits'] %>"></br >
          </div></div></div>

        <div class="panel-footer hidden-sm">
         <div class="row"><div class="btn-toolbar pull-right" style="margin-right:10px"> 

            <div class="btn-group">
              <form>
                <button type="submit" class="btn btn-success">Save Changes</button>
              </form>
            </div>

            <div class="btn-group">
              <a href="/" class="btn btn-default">Cancel</a>
            </div>

         </div> <!-- buttons -->
         </div> <!-- Row -->
        </div> <!-- footer large -->

        <div class="panel-footer visible-sm">
          <div class="row">
            <button type="submit" class="btn btn-success btn-block">Save Changes</button>
            <a href="/" class="btn btn-default btn-block">Cancel</a>
          </div>
        </div> <!--footer small--> 

        </form>

        </div> <!-- panel -->
      </div> <!-- container -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>



