<!DOCTYPE html>
<html>
  <head>
    <title>Test Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <!-- Title -->
    <div class="row"><div class="col-lg-12">
        <h1>Test Area</h1>
    </div></div>

    <!-- This is the opening tag for the div row that contains the content -->
    <div class="row">

        <!-- This is the code for the form on the left -->
        <div class="col-lg-5 affix-top"><div class="panel panel-primary">
            <form method="post" action="/">
             <fieldset>
                <div class="panel-heading">
                    <h3 class="panel-title">New Entry
                        <button class="btn btn-mini btn-primary pull-right hidden-lg pushme" type="button" data-toggle="collapse" data-target="#demo, #demo1" style="margin-top:-3px">collapse</button>
                    </h3>
                </div>

                <!-- This is for the left column 
                    The first div is expandable -->
                <div class="row collapse in" id="demo"><div class="col-6"><div class="form-group">
                    <label for="hospital">Hospital Name</label>
                    <input type="text" class="form-control" placeholder="e.x. Parkview Medical Center" name="hospital"><br />

                    <label>Address</label>
                    <input class="form-control" type="text" placeholder="Street Address" name="address"><br />
                    <input class="form-control" type="text" placeholder="City" name="city"><br />
                    <div class="row">
                        <div class="col-lg-5 col-sm-12"><input class="form-control" type="text" placeholder="State" name="state" maxlength="2"></div><br class="hidden-lg" />
                        <div class="col-lg-7 col-sm-12"><input class="form-control" type="text" placeholder="ZIP" name="zip" maxlength="5"></div>
                    </div>

                </div></div>

                <div class="col-6"><div class="form-group">
                    <label>Technician Name</label>
                    <input type="text" placeholder="e.x. John Doe" name="name" class="form-control"><br />
                    <label>Reported Number of Units</label>
                    <input type="text" name="repunits" maxlength="3" class="form-control input-small"></br >
                    <label>Actual Number of Units</label>
                    <input type="text" name="actunits" maxlength="3" class="form-control input-small"></br >
                    <label>Failed Units</label>
                    <input type="text" name="funits" maxlength="3" class="form-control input-small"></br >
                </div></div></div>

                <div class="panel-footer"><div class="collapse in" id="demo1"><button type="submit" class="btn btn-primary btn-block">Create Entry</button></div></div>

             </fieldset>
            </form>
        </div></div>


        <!-- This is where the code for the right column goes -->
        <div class="col-lg-7">
        <% settings.mongo_db["testcollection"].find.reverse_each do |record| %>

        <div class="col-lg-12"><div class="panel panel-primary">

            <!-- The Title Bar of the Panel -->
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= record['hospital'] %>
                    <button class="btn btn-mini btn-primary pull-right pushme" type="button" data-toggle="collapse" data-target="#edit-delete<%= record['_id'] %>" style="color:#FDD; border:1px solid #3071a9">edit/delete</button>
                </h3>
                <p class="muted" style="margin-bottom:-8px"><small>Entered at <%= record['entrytime'] %></small></p>
            </div>

            <!-- Panel Body -->
            <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6 hidden-sm">
                <strong>Address</strong><br />
                <%= record['address'] %><br />
                <%= record['city'] %>, <%= record['state'] %> <%= record['zip'] %>
            </div>

            <!-- Right Column -->
            <div class="col-lg-6 col-sm-12">
                <strong><%= record['repunits'] %></strong> Units Reported<br />
                <strong><%= record['actunits'] %></strong> Actual Units<br />
                <strong><%= record['funits'] %></strong> Failed Units<br />
            </div>

            <!-- For Mobile Sizes (Switches Left and Right column order when stacked) -->
            <div class="col-12 visible-sm">
                <br /><strong>Address</strong><br />
                <%= record['address'] %><br />
                <%= record['city'] %>, <%= record['state'] %> <%= record['zip'] %>
            </div>
            </div>
            
            <p class="text-muted" style="margin-bottom:-10px;">
                <small>
                    Inspection and work performed by <%= record['name'] %>
                </small>
            </p>

            <!-- Footer -->
            <div class="collapse out" id="edit-delete<%= record['_id'] %>"><div class="panel-footer"><div class="row"><div class="col-lg-6 col-offset-3">
                <!-- Edit Button -->
                <form method="get" action="/edit/<%= record['_id'] %>">
                    <button class="btn btn-warning btn-block" id="edit-delete" style="margin-bottom:7px">Edit</button>
                </form>

                <!-- Delete Button -->
                <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-block">Delete</a>

            </div></div></div></div>

            <!-- Modal for delete confirmation -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Delete Entry</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this entry? This cannot be undone!
                        </div>
                        <div class="modal-footer">
                        <form method="get" action="/delete/<%= record['_id'] %>">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->

        </div></div>
        <% end %>
        </div>
    <!-- This is the div tag that closes the row that contains the content -->
    </div>



    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>$(function(){
    $(".pushme").click(function () {
        $(this).text(function(i, v){
            if (v === "collapse" || v === "expand") {
                return v === "collapse" ? "expand" : "collapse";};
        })
    });
    })</script>
  </body>
</html>