<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes|Herr+Von+Muellerhoff|Cedarville+Cursive' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Provo Yacht Club</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<!-- Navbar -->
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Provo Yacht Club</a>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/Dance">Dance</a></li>
            <li><a href="/Chill">Chill</a></li>
            <li><a href="/Revival">Revival</a></li>
            <li><a href="/Big Beats">Big Beats</a></li>
            <li><a href="/Etc.">Etc.</a></li>
          </ul>
        </div>

      </div>
    </nav>

<!-- Header -->

    <div class="jumbotron">
      <div class="container-fluid">
        <h1 class="main-title" style="line-height:55px;font-weight:100">Provo Yacht <span style="letter-spacing:-4px">Club</span></h1>
      </div>
    </div>


<!-- Content -->
    <div class="container-fluid" style="margin-left:5%;margin-right:5%;">
      <div class="row">

    <!-- Left Side  -->
        <div class="col-md-7" style="padding-right:20px">

            <div class="row"><h2 style="font-weight:100">This Week</h2></div>

          <!--Recent Posts -->
          <div class="row">

            <div class="recent-post-div" style="align:centered;padding:-15px;">

              <% @recentposts.each do |post| %>
              <div class="col-md-2" style="padding:1px" data-toggle="tooltip" data-html="true" title="<strong><%= post['Song-Title'] %></strong><br /><%= post['Artist'] %> <br /> <i><%= post['Album'] %></i>">
                  <img class="recent-post" src="<%= post['AlbumArt']%>" />
              </div>
              <% end %>

            </div>
          </div>

          <!-- Full Posts -->
          <div class="row" style="margin-top:15px;">

            <h2 style="font-weight:100">Recent Posts</h2>

            <div id="#morePosts" data-batch="1"></div>

            <!-- Template for Posts -->
            <%= erb :posts_long_front %>

            <a href="#" id="loadMore"><h3>Load More Posts</h3></a>

          </div>


        </div>

        <!-- to separate the sides -->
        <div class="col-md-1" style="margin-right:-55px"></div>

    <!-- Right Side -->
        <div class="col-md-4 right-side" data-spy="affix" data-offset-top="280" data-offset-bottom="200">
          <div class="row">
            <h2 style="font-weight:100">Featured Artist</h2>

            <div class="feature-box">
              <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/79027103&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
            </div><br />

            <button class="col-md-12 btn btn-blue">Donate to the Provo Yacht Club!</button>

          </div>
        </div>

      </div>
    </div><!-- close out content -->


    <script type="text/javascript">
        $('div').tooltip();
    </script>

    <script type="text/javascript">

      $('#loadMore').click(function() {
        var div = $("#morePosts");
        var batch = parseInt(div.attr('data-batch'));
        $.get('/moreResults/' + batch, function(data){
          div.append(data);
          div.attr('data-batch', batch+1);
        });
      });

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48737823-1', 'provoyachtclub.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>