  <form method="post" data-post="<%= @post['_id'] %>">
    <fieldset>
     <div class="modal-body">
        <label for="Feature-Title">Feature Title</label>
        <input type="text" class="form-control" placeholder="Nautilus" name="Feature-Title" value="<%= @post["Feature-Title"] %>"><br />

        <label>Media Link (Soundcloud)</label>
        <input type="text" class="form-control" placeholder="https://api.soundcloud.com/tracks/136749579" name="Media" value="<%= @post['Media'] %>"><br />

        <div class="col-md-6">
          <label for="type">Feature Type</label>
          <select class="form-control col-md-6" name="type">
            <option><%= @post['type'] %></option>
            <option>Artist</option>
            <option>Playlist</option>
          </select>
        </div><br />
        <p></p>
     </div>            


      
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" formaction="/editFeat/save/<%= @post['_id'] %>" class="btn btn-warning">Save</button>
        <% if @post['active'] == true %>
          <button type="submit" formaction="/editFeat/deactivate/<%= @post['_id'] %>" class="btn btn-danger">Save and Deactivate</button>
        <% else %>
          <button type="submit" formaction="/editFeat/activate/<%= @post['_id'] %>" class="btn btn-success">Save and Activate</button>
        <% end %>
      </div>

    </fieldset>
  </form>