<% @posts.each do |post|  %>

  <tr>
    <td><a class="edit" href="/Manager/edit-modal/<%= post['_id'] %>"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span></a></td>
    <td><a class="delete" href="/Manager/delete/<%= post['_id'] %>"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Delete"></span></a></td>
    <td><%= post['Song-Title'] %></td>
    <td><%= post['Artist'] %></td>
    <td><%= post['Album'] %></td>
    <td><%= post['entrytime'] %></td>
    <td><%= post['Author'] %></td>
    <td class="text-center">
      <% if post['publish'] == true %>
        <span class="glyphicon glyphicon-ok text-success"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove text-danger"></span>
      <% end %>
    </td>
  </tr>

<%end%>
