<% @posts.each do |post| %>

<div class="col-md-12" style="border-bottom:2px solid #ccc; margin-bottom:35px; padding:1%;">

  <div class="col-md-4">
    <img src="<%= post['AlbumArt']%>" class="img-responsive" style="width:100%" /><br/>
    <a href="/<%= post['tag'] %>"><span class="label label-default"><%= post['tag'] %></span></a>
    <a href="/<%= post['tag2'] %>"><span class="label label-default"><%= post['tag2'] %></span></a>
  </div>

  <div class="col-md-8">
    <h3 style="margin-top:0"><%= post['Song-Title'] %> - <%= post['Artist'] %> <br /><small style="color:#777"><%= post["Album"] %></small></h3>
    <p><%= post['Description'].gsub(/\n/, '<br />') %></p>
    <% if post['Source'] == "spotify" %>
      <iframe src="https://embed.spotify.com/?uri=<%= post['Media'] %>" width="100%" height="88" frameborder="0" allowtransparency="true"></iframe>
    <% elsif post['Source'] == "Soundcloud" %>
      <iframe width="100%" height="100" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= post["Media1"] %>&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
    <%else end%>
    <p class="text-muted pull-right" style="margin:-5px"><small>Post by <%= post["Author"] %></small></p>
  </div>

</div> 

<%end%>

