<div class="song-set">
<% @songs.each do |song| %>
  <div class="col-xs-1 song-thumb" data-url="<%= song.soundcloud_url %>">

    <!-- Album Art -->
    <img src="<%= song.album_art %>" class="img-responsive" style="width:100%" data-songId="<%= song.id %>" />

    <!-- Pop-Over -->
    <div class="song-popover text-center">
      <div class="links">
        <!-- <a href="#"><span class="glyphicon glyphicon-arrow-up" style="padding-right:10px"></span></a> -->
        <a href="#"><span class="glyphicon glyphicon-play play-this-song" data-url="<%= song.soundcloud_url %>" data-trackName="<%= song.title %>" data-artist="<%= song.artist %>"></span></a>
        <!-- <a href="#"><span class="glyphicon glyphicon-arrow-down" style="padding-left:10px"></span></a> -->
        <div class="info-text text-center">
          <p><%= song.title %><br/>
          <%= song.artist %></p>
        </div><!-- /info-text -->
      </div><!-- /links -->
    </div><!-- /song-popover -->

  </div>
<% end %>
</div>